.THIS.headerwidth {
    width: 100%;
}
.THIS.columnWidth {
  
  width: 100 rem  ;
}

.THIS.c-container {
   
    margin: 10px 900px 20px 10px;
}

.THIS textarea {
	border: 1px solid #dce4ec;
    border-radius: 4px;
    width:10rem;
	margin: 40px 0 0 0 ;
    width : 100 px;
}

.THIS .y-large {
    height: 100px;
}